<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="subir()">
    <ion-item class="foto">
      <label for="foto">
        <ion-img src="./assets/camera.png"></ion-img>
      </label>
      <input
        id="foto"
        type="file"
        name="foto"
        accept="image/*"
        capture="camera"
      />
    </ion-item>
    <ion-item>
      <ion-label position="floating"
        >Marca <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        [(ngModel)]="moto.marca"
        type="text"
        placeholder="Awesome Input"
        [ngModelOptions]="{standalone: true}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        >Modelo <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        [(ngModel)]="moto.model"
        type="text"
        placeholder="Awesome Input"
        [ngModelOptions]="{standalone: true}"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        >Año <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        [(ngModel)]="moto.year"
        type="text"
        placeholder="Awesome Input"
        [ngModelOptions]="{standalone: true}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        >Precio <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        [(ngModel)]="moto.precio"
        type="text"
        placeholder="Awesome Input"
        [ngModelOptions]="{standalone: true}"
      ></ion-input>
    </ion-item>

    <ion-button block color="primary" type="submit"> Subir Moto </ion-button>
  </form>
</ion-content>
