<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="getJsonFiltrado('Ducati')">
        <ion-img src="./assets/ducati.png"></ion-img>
        <ion-label>Ducati</ion-label>
      </ion-item>
      <ion-item (click)="getJsonFiltrado('Yamaha')">
        <ion-img src="./assets/yamaha.png"></ion-img>
        <ion-label>Yamaha</ion-label>
      </ion-item>
      <ion-item (click)="getJsonFiltrado('Honda')">
        <ion-img src="./assets/honda.png"></ion-img>
        <ion-label>Honda</ion-label>
      </ion-item>
      <ion-item (click)="getJson()">
        <ion-img src="./assets/TodosLogos.jpg"></ion-img>
        <ion-label>Todas</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Motos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list *ngFor="let motos of motosArray">
      <ion-item (click)="elegir(motos)">
        <ion-img [src]="motos.foto"></ion-img>
        <ion-title>{{motos.modelo}}</ion-title>
      </ion-item>
    </ion-list>
    <ion-fab-button color="primary" (click)="newMoto()">+</ion-fab-button>
  </ion-content>
</div>
